CompileFlags:
	Add: [
		"-std=gnu++2a",
		"--target=arm-none-eabi",
	]
---
If:
	PathMatch: [".*test.*"]
CompileFlags:
	Add: [
		"-Ilib/mdrivlib/tests",
		"-Ilib/mdrivlib/tests/stubs",
		"-Ilib/mdrivlib/tests/stubs/stm32",
	]
